<% if(message.length >0){ %>
    <div class="alert alert-warning alert-dismissible" style="position: absolute;
	top: 0px;
	right: 1%;
	height: 100px;
	width: 400px;
	z-index: 99;">
        <button type="button" id="btn" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>

        </button>
        <%= message %>
    </div>
    <% } %>
<% layout("layout") -%>
    <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
        <div class="col-lg-12">
            <% include ../partials/adminpanel %>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="container">
            <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 80px; min-height: 500px;">

                <div class="panel-heading" style="color: #ffffff;">Manage Faculty</div>

                <div class="row">
                <div class="dropdown" style="margin-top:5px;">
                    <button style="border-radius: 5px;" class="dropdown-toggle btn btn-default" type="button" data-toggle="dropdown">--Please Select--
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <button class="btn btn-default form-control" onClick="postLastName()">Last Name</button>
                            <form id="postFormLastName" action="/manage-faculty" method="GET">
                              <input type="hidden" value="postLastName" id="postLastName" name="lastName" />
                            </form>
                            </li>
                    </ul>
                  </div>
                </div>  


                <br>
                <div class="table-responsive">
                    <div style="overflow-y: scroll; height:350px; ">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="color: #ffffff; background-color: #020531;">ID Number</th>
                                    <th style="color: #ffffff; background-color: #020531;">Full Name</th>
                                    <th style="color: #ffffff; background-color: #020531;">Action</th>
                                </tr>
                            </thead>
                            <% users.forEach(function(user){ %>
                            <tr>
                                <td><%= user.idNumber %></td>
                                <td><%= user.profile.lastName %>, <%= user.profile.firstName %> <%= user.profile.middleName %></td>
                                <td><a class="btn btn-info btn-sm" href="/manage-faculty/<%= user._id %>">Manage Faculty</a></td>
                            </tr>
                        <% }); %>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>

    <script>

        function postLastName(){
          var postLastName = document.getElementById("postLastName");
          var postNumVal = (postLastName.value = "postLastName");
          // console.log(postNumVal);
          $("#postFormLastName").submit();
        }
      
      </script>