<% layout("layout") -%>
  <div class="col-sm-3" style=" padding: 10px; margin-top: 50px;" overflow-x: hidden;>
    <div class="col-lg-12">
      <% include ../partials/studentpanel %>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="container">
      <div class="panel panel-info  col-sm-9" id="myScrollspy" style="padding: 0px; margin-top: 80px; height:460px;">

        <div class="panel-heading" style="color: #ffffff;">My literary works</div>





        <br>
        <div class="table-responsive">
          <div style="overflow-y: scroll; height:350px; ">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="color: #ffffff; background-color: #020531;">Title</th>
                  <th style="color: #ffffff; background-color: #020531;">Content</th>
                  <th style="color: #ffffff; background-color: #020531;">Status</th>
                  <th style="color: #ffffff; background-color: #020531;">Action</th>
                </tr>
              </thead>
              <tbody>
                <% literaries.forEach(function(literaries){ %>
                  <tr>
                    <td>
                      <%= literaries.title  %>
                    </td>
                    <td>
                      <%- literaries.content %>
                    </td>
                    <%if (literaries.status == false) {%>
                      <td> Pending </td>
                      <% } else { %>
                        <td> Approved </td>
                        <% } %>

                          <td>
                            <%if (literaries.status == false) {%>
                              <form id="delete-form" action="/myliterary/<%= literaries._id %>/edit" method="POST">
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#<%= literaries._id %>">
                                  <i class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                                <!-- Modal -->
                                <div id="<%= literaries._id %>" class="modal fade" role="dialog">
                                  <div class="modal-dialog modal-lg">
                                    <%if (literaries.status == false) {%>
                                      <!-- Modal content-->
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title">Edit Publication</h4>
                                        </div>
                                        <div class="modal-body">
                                          <div class="form-group">
                                            <label for="usr" style="color:black;">Category:</label>
                                            <select name="category" class="btn btn-info" id="usr">
                                              <option selected value="<%= literaries.category %>">
                                                <%= literaries.category %>
                                              </option>
                                              <%if (literaries.category === "editorial" ) {%>
                                                <!-- <option value="photojournal">Photo Journal</option> -->
                                                <%} else {%>
                                                  <option value="editorial">Editorial</option>
                                                  <%} %>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="usr">Title:</label>
                                            <input value="<%= literaries.title %>" name="title" type="text" class="form-control" id="usr">
                                          </div>
                                          <div class="form-group">
                                            <label for="comment">Content:</label>
                                            <textarea value="<%= literaries.content %>" name="content" class="form-control" rows="5" id="comment">
                                              <%= literaries.content %>
                                            </textarea>
                                          </div>
                                          <div class="form-group">
                                            <label for="comment">Comments:</label>
                                            <%- literaries.comments %>
                                          </div>
                                          <div class="form-group" style="display: none">
                                            <label for="comment">Comments:</label>
                                            <textarea value="<%= literaries.comments %>" name="comments" class="form-control" rows="5" id="comments">
                                              <%= literaries.comments %>
                                            </textarea>
                                          </div>
                                        </div>

                                        <div class="modal-footer">
                                          <button class="btn btn-default">UPDATE</button>
                                          <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                                        </div>
                                      </div>
                                  </div>
                                </div>
                                <% } else { %>
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">Edit Publication</h4>
                                    </div>
                                    <div class="modal-body">
                                      <div class="form-group">
                                        <label for="usr" style="color:black;">Category:
                                          <%= literaries.category %>
                                        </label>

                                      </div>
                                      <div class="form-group">
                                        <label for="usr">Title:</label>
                                        <input disabled value="<%= literaries.title %>" name="title" type="text" class="form-control" id="usr">
                                      </div>
                                      <div class="form-group">
                                        <label for="comment">Content:</label>
                                        <textarea disabled value="<%= literaries.content %>" name="content" class="form-control" rows="5" id="comment">
                                          <%= literaries.content %>
                                        </textarea>
                                      </div>
                                      <div class="form-group">
                                        <label for="comment">Comments:</label>
                                        <textarea disabled value="<%= literaries.comments %>" name="comments" class="form-control" rows="5" id="comments">
                                          <%= literaries.comments %>
                                        </textarea>
                                      </div>
                                      <div class="form-group" style="display: none">
                                        <label for="comment">Comments:</label>
                                        <textarea value="<%= literaries.comments %>" name="comments" class="form-control" rows="5" id="comments">
                                          <%= literaries.comments %>
                                        </textarea>
                                      </div>
                                    </div>

                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                                    </div>
                                  </div>
          </div>
        </div>
        <% } %>
          </form>
          <% } %>
            </td>
            <!-- <td><%= literaries.section %></td> -->

            </tr>
            <% }); %>
              </tbody>
              </table>

      </div>
    </div>
  </div>
  </div>

  </div>
  </div>
  </div>
  </div>